{% extends "main.html" %}
{% use "main-panel.html" %}


{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="/styles/help.css">
{% endblock %}


{% block main_panel_title %}
	API
{% endblock %}


{% block main_panel_content %}
	<p>
		Utiliza la API para interactuar con el servicio desde otros programas.
	</p>

	<h3>Solicitud:</h3>

	<samp>
		http://sl.ugr.es/sluger.php?modo=JASON&amp;url=&lt;url&gt;&amp;id=&lt;nombre-corto&gt;
	</samp>
	<br>

	<ul>
		<li>
			<b><tt>url</tt>:</b>
			Enlace a acortar <a href="https://en.wikipedia.org/wiki/Percent-encoding">debidamente codificado</a>.
		</li>
		<li>
			<b><tt>id</tt>:</b>
			Cadena opcional de 5 a 50 caracteres con el nombre de la url.
		</li>
	</ul>

	<h3>Respuesta:</h3>

	<samp>{<samp><br>
	<samp>&emsp;&emsp;"url": "sl.ugr.es/*"|"",<br></samp>
	<samp>&emsp;&emsp;"error": 1|0,<br></samp>
	<samp>&emsp;&emsp;"text": "URL creada"|"Mensaje de error"<br></samp>
	<samp>}</samp>

	<ul>
		<li>
			<b><tt>url:</tt></b>
			La url corta o la cadena vacía en caso de error.
		</li>
		<li>
			<b><tt>error:</tt></b>
			<tt>1</tt> en caso de éxito, <tt>0</tt> en caso de error.
		</li>
		<li>
			<b><tt>text:</tt></b>
			<tt>"URL creada"</tt> en caso de éxito o la descripción del error.
		</li>
	</ul>
{% endblock %}
