{% extends "main.html" %}
{% use "main-panel.html" %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="/styles/help.css">
{% endblock %}

{% block main_panel_title %}
	Instrucciones de uso
{% endblock %}

{% block main_panel_content %}
	<p>
		Introduce una URL en el primer cuadro de texto.
		Por ejmplo:
	</p>

	<samp>
		https://www.ugr.es/universidad/historia/
	</samp>

	<p>
		Al pulsar el botón <i>Generar enlace</i>, se generará un enlace corto con caracteres aleatorios.
		Por ejemplo:
	</p>

	<samp>
		http://sl.ugr.es/0cd1
	</samp>

	<p>
		Si prefieres que el enlace corto contenga un nombre específico, puedes introducir el nombre en el segundo cuadro de texto.
		El nombre debe contener entre 5 y 50 caracteres y puedes utilizar letras mayúsculas y minúscias, números y la barra baja (el signo <tt>'_'</tt>).
		Por ejemplo:
	</p>

	<samp>
		http://sl.ugr.es/ofivirt
	</samp>
{% endblock %}
