{% extends "main.html" %}
{% use "main-panel.html" %}


{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="/styles/index.css">
{% endblock %}


{% block main_panel_title %}
	Acortador de enlaces
{% endblock %}


{% block main_panel_content %}
	<form action="url-result" method="post">
		<h4>Introduce el enlace que deseas acortar:</h4>
		<input type="url" name="neosluger-url" autofocus/>

		<h4>(Opcional) Elige el nombre de tu enlace corto:</h4>
		<input type="text" name="neosluger-handle"/>

		<div class="form-bottom">
			<button type="submit" id="gen-link">Generar enlace</button>
			<a href="https://osl.ugr.es/" target="_blank" id="logo-osl-form">
				<img src="/assets/logo-osl.svg" alt="Logo OSL">
			</a>
		</div>
	</form>
{% endblock %}


{% block main_panel_logo_osl %}{% endblock %}
