<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">

	<link rel="stylesheet" href="/styles/main.css">
	{% block stylesheets %} <!-- Additional stylesheets --> {% endblock %}
	{% block parallax_logo %} <link rel="stylesheet" href="/styles/parallax-logo.css"> {% endblock %}

	<link rel="shortcut icon" href="/assets/favicon.ico" />
	<title>{% block title %} Short Link UGR {% endblock %}</title>

	{% block head %} <!-- <head> additions --> {% endblock %}
</head>

<body>
	<header>
		<a href="/index.php" id="header-index">Inicio</a>
		<a href="/index.php" id="header-help">Ayuda</a>
		<a href="/index.php" id="header-api">API</a>
		<a href="/licence.php" id="header-licence">Licencia</a>
		<div id="header-spacer"></div>
		<a href="https://www.ugr.es/" target="_blank" id="header-ugr">
			<img src="/assets/logo-ugr-negativo.svg" alt="Logo UGR">
		</a>
	</header>

	<main>
		{% block main %} <!-- <main> additions --> {% endblock %}
	</main>

	{% block body %} <!-- <body> additions --> {% endblock %}
</body>

{% block html %} <!-- <html> additions --> {% endblock %}
</html>
