<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">

	<link rel="stylesheet" href="/styles/main.css">
	{% block stylesheets %} <!-- Additional stylesheets --> {% endblock %}

	<link rel="shortcut icon" href="/assets/favicon.ico" />
	<title>{% block title %} Short Link UGR {% endblock %}</title>

	{% block head %} <!-- <head> additions --> {% endblock %}
</head>

<body>
	<header>
		<a href="https://www.ugr.es/">
			<img src="/assets/logo-ugr.svg" alt="Logo UGR">
		</a>

		<a href="/index.php"><span>Inicio</span></a>
		<a href="/index.php"><span>Ayuda</span></a>
		<a href="/index.php"><span>API</span></a>
		<a href="/licence.php"><span>Licencia</span></a>
	</header>

	<main>
		{% block main %} <!-- <main> additions --> {% endblock %}
	</main>

	{% block body %} <!-- <body> additions --> {% endblock %}
</body>

{% block html %} <!-- <html> additions --> {% endblock %}
</html>
