@font-face
{
	font-family: "Garamond";
	src: url("/web/fonts/EBGaramond/EBGaramond-VariableFont_wght.ttf");
}


@font-face
{
	font-family: "LatoRegular";
	src: url("/web/fonts/Lato/Lato-Regular.ttf");
}


body
{
	display: grid;
	font-family: "LatoRegular", sans-serif;
	grid-template-rows: max-content auto;
	margin: 0;
	min-height: 100vh;
}


header
{
	background-color: #CA2D30;
	display: grid;
	font-family: "Garamond", serif;
	grid-template-areas: "menu-items spacer ugr";
	grid-template-columns: max-content auto 233px;
	grid-template-rows: 60px;
	height: 60px;
	position: sticky;
	top: 0;
}


/* TODO: Fix horizontal menu broken after opening and closing vertical menu */
header #menu-items
{
	display: grid;
	grid-area: menu-items;
	grid-template-columns: max-content max-content max-content;
}


header #menu-items a
{
	align-items: center;
	color: white;
	display: grid;
	font-size: 25px;
	height: 55px;
	grid-template-columns: max-content;
	justify-items: center;
	padding: 0 30px;
	padding-bottom: 5px;
	text-decoration: none;
	transition: background-color .3s ease-out;
}


header #hamburger-menu
{
	align-items: center;
	background: none;
	border: none;
	display: grid;
	grid-area: menu-items;
	grid-template-columns: 60px;
	justify-items: center;
	padding: 0;
}


header #hamburger-menu img
{
	height: 55%;
	transition: rotate 0.3s ease-out;
}


header a:hover
{
	border-radius: 0px;
	background-color: #393536;
}


header img
{
	height: 80%;
}


main
{
	background-color: #EFEFEF;
}


.active-tab
{
	background-color: #912024;
}


#close-vertical-menu
{
	background: none;
	border: none;
	display: none;
	height: 100vh;
	margin-left: 50%;
	margin-right: 0;
	padding: 0;
	position: fixed;
	width: 50vw;
	z-index: 1;
}


#header-ugr
{
	display: grid;
	align-items: center;
	justify-items: center;
	grid-area: ugr;
	height: 60px;
	padding-bottom: 0;
}


#report
{
	position: fixed;
	top: auto;
	bottom: 0px;
	left: auto;
	right: 0px;
	padding: 5px 10px;
	font-size: 15px;
	text-decoration: none;
	color: black;
}

#report:hover
{
	text-decoration: underline;
}


@media (orientation: landscape) and (min-width: 640px)
{
	header #hamburger-menu
	{
		display: none;
	}
}


@media (orientation: portrait) or (max-width: 640px)
{
	header #menu-items
	{
		background-color: #CA2D30;
		height: calc(100vh - 60px);
		width: 0vw;
		position: absolute;
		top: 60px;
		transition: 0.3s ease-in-out;
		grid-template-rows: 60px 60px 60px;
		grid-template-columns: auto;
	}


	header #menu-items a
	{
		width: 0;
		justify-items: left;
		position: relative;
		left: -150px;
		transition: .3s ease-in-out;
	}
}
