center
{
	margin-bottom: 0;
}


h2
{
	margin-bottom: 0;
}

p
{
	margin-bottom: 0;
}


#destination
{
	color: purple;
	display: block;
	margin-bottom: 10px;
	text-decoration: none;
}


#destination:hover
{
	text-decoration: underline;
}


#main-panel-content
{
	display: grid;
	justify-items: center;
}


#short-url
{
	align-items: center;
	color: blue;
	cursor: pointer;
	display: grid;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 0;
	text-decoration: none;
}


#short-url:hover
{
	text-decoration: underline;
}


#to-copy
{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 450px;
	word-wrap: break-word;
}
