body
{
	display: grid;
	font-family: 'Open Sans';
	grid-template-rows: max-content auto;
	margin: 0;
}

header
{
	background: #CA2D30;
	display: flex;
	height: 60px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

header a
{
	height: 100%;
	padding: 0 30px;
	position: relative;
	text-decoration: none;
}

header a:hover
{
	background-color: #393536;
	transition: background linear .35s;
}

header img
{
	height: 80%;
	position: inherit;
	top: 50%;
	transform: translate(0, -50%);
}

header a span
{
	align-items: center;
	color: white;
	display: inline-flex;
	font-size: 20px;
	height: 100%;
}

main
{
	min-height: 100%;
	position: absolute;
	top: 60px;
	width: 100%;
}
