p
{
	margin: 7px 0;
}


samp
{
	margin-left: 20px;
}


.invisible
{
	display: none;
}

.tabs {
	background-color: #F2F2F2;
	border-radius: 20px;
	display: grid;
	grid-template-columns: 33.33% auto 33.33%;
	margin-bottom: 22px;
	overflow: hidden;
}


.tabs button {
	background-color: inherit;
	border: none;
	cursor: pointer;
	float: left;
	font-size: 17px;
	outline: none;
	padding: 14px 16px;
	transition: 0.3s;
}


.tabs button:hover
{
	background-color: #DDDDDD;
}


.visible
{
	display: contents;
}


#current
{
	background-color: #CCCCCC;
}


#new-api
{
	display: contents;
}


#old-api
{
	display: none;
}


#switch-api
{
	border: none;
	background-color: white;
}


#switch-api:hover
{
	text-decoration: underline;
}
