form
{
	display: grid;
	align-items: center;
	width: 100%;
}


h4
{
	margin-top: 22px;
	margin-bottom: 2px;
	margin-left: 6px;
}


input
{
	border: 1px solid #A8A8A8;
	border-radius: 15px;
	padding: 10px 15px;
	margin: 6px;
}


input:focus
{
	border: none;
	border-radius: 17px;
	box-shadow: 0 0 4px #CA434A;
	margin: 5px;
	padding: 12px 17px;
	outline: #CA2D30 solid 2px;
}


input:hover
{
	border: 1px solid #A8A8A8;
	border-radius: 17px;
	box-shadow: 0 0 4px #A8A8A8;
	margin: 4px;
	padding: 12px 17px;
}


.form-bottom
{
	align-items: center;
	display: grid;
	grid-column-gap: 10px;
	grid-template-areas: "gen-qr logo-osl";
	grid-template-columns: 193px auto;
	justify-items: center;
	margin-top: 15px;
	margin-left: 3px;
}


#gen-qr
{
	background-color: #F2F2F2;
	border-radius: 20px;
	border: 1px solid #A8A8A8;
	cursor: pointer;
	font-size: 16px;
	grid-area: gen-qr;
	height: 58px;
	margin-bottom: 6px;
	margin-top: 10px;
	padding: 16px 35px;
	padding-bottom: 20px;
	text-align: center;
	text-decoration: none;
}


#gen-qr:hover
{
	border-radius: 22px;
	box-shadow: 0 0 4px #A8A8A8;
	height: 62px;
	margin-bottom: 4px;
	margin-top: 8px;
	padding: 18px 38px;
	padding-bottom: 24px;
}


#logo-osl-form
{
	align-items: center;
	display: grid;
	grid-area: logo-osl;
	grid-template-columns: auto;
	justify-items: center;
	height: 100%;
	width: 80%;
}


#main-panel-content
{
	margin: 0;
}
