p
{
	margin-bottom: 0;
	text-align: center;
}

#destination
{
	color: purple;
	display: block;
	text-align: center;
	text-decoration: none;
}

#short-url
{
	color: blue;
	display: block;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
}
