p
{
	margin-bottom: 0;
}

#destination
{
	color: purple;
	display: block;
	margin-bottom: 10px;
	text-decoration: none;
}

#destination:hover
{
	text-decoration: underline;
}

#main-panel-content
{
	display: grid;
	justify-items: center;
}

#qr-img
{
	image-rendering: pixelated;
}

#save-qr
{
	background-color: #F2F2F2;
	color: black;
	border-radius: 10px;
	border: 1px solid #A8A8A8;
	cursor: pointer;
	margin: 10px;
	text-align: center;
	text-decoration: none;
	padding: 3px 7px;
}
#save-qr:hover
{
	border-radius: 12px;
	box-shadow: 0 0 4px #A8A8A8;
	margin: 6px;
	padding: 7px 11px;
}

#short-url
{
	color: blue;
	display: block;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 10px;
	text-decoration: none;
}

#short-url:hover
{
	text-decoration: underline;
}
