{% extends "main.html" %}
{% use "main-panel.html" %}


{% block title %}404!{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="/web/styles/404.css">
{% endblock %}


{% block main_panel_title %}404: NOT FOUND{% endblock %}


{% block main_panel_content %}
	<h2>
		El enlace corto introducido no existe.
	</h2>

	Si has entrado a través de un enlace corto, ponte en contacto con la entidad que te haya proporcionado el enlace e infórmales de este error.
{% endblock %}
