{% extends "main.html" %}
{% use "main-panel.html" %}


{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="/web/styles/man.css">
	<link rel="stylesheet" href="/web/styles/tabs.css">
{% endblock %}


{% block head %}
	<script type="text/javascript" src="/web/scripts/tabs.js" defer></script>
{% endblock %}


{% block main_panel_title %}
	Manual de usuario
{% endblock %}


{% block main_panel_content %}
	<div class="tabs">
		<button onclick="switch_tab(event, 'shortener')" id="current-tab-item">Acortador de enlaces</button>
		<button onclick="switch_tab(event, 'qr')">Generador de códigos QR</button>
		<button onclick="switch_tab(event, 'api')">API</button>
	</div>

	<div id="shortener" class="visible">
		<p>
			Introduce un enlace que deseas acortar en el primer cuadro de texto.
			Por ejmplo:
		</p>

		<samp>
			https://www.ugr.es/universidad/historia/
		</samp>

		<p>
			Al pulsar el botón <i>Generar enlace</i>, se generará un enlace corto con caracteres aleatorios.
			Por ejemplo:
		</p>

		<samp>
			https://sl.ugr.es/0cd1h5ba
		</samp>

		<p>
			Si prefieres que el enlace corto contenga un nombre específico, puedes introducir el nombre en el segundo cuadro de texto.
			El nombre debe contener entre 5 y 50 caracteres y puedes utilizar letras mayúsculas y minúscias, números, guiones y barras bajas.
			Por ejemplo:
		</p>

		<samp>
			oficina-virtual_ugr2
		</samp>

		<p>
			Al introducir una dirección especificando ese nombre, se generará el siguiente enlace:
		</p>

		<samp>
			https://sl.ugr.es/oficina-virtual_ugr2
		</samp>
	</div>

	<div id="qr" class="invisible">
		<p>
			Introduce el enlace para el que deseas crear un QR en el cuadro de texto.
			Por ejmplo:
		</p>

		<samp>
			https://www.ugr.es/universidad/historia/
		</samp>

		<p>
			Esto te generará un <a href="https://es.wikipedia.org/wiki/C%C3%B3digo_QR">código QR</a> para que puedas descargarlo y utilizarlo en documentos impresos.
		</p>

		<center>
			<h3>¿Qué debo tener en cuenta al publicar un QR?</h3>
		</center>

		<p>
			Los QR son muy fáciles de leer para las máquinas pero imposible para los humanos.
			No publiques el QR sin indicar claramente hacia qué dirección va a redirigir a los usuarios, pues ellos tienen que fiarse de que estás siendo honesto y que el código no los va a llevar a un sitio malicioso.
			Por supuesto, sé igual de precavido a la hora de escanear códigos QR.
			No escanees QRs que no sepas dónde te van a redirigir.
		</p>

		<p>
			Ejemplos de un QRs bien publicados son los que nos encontramos pegados en la mesa de la cafetería que nos redirigen al menú o los que tienen el enlace escrito encima o debajo.
			Un ejemplo de un QR mal publicado es cualquiera que nos encontremos pegado en una farola por la calle sin más información.
		</p>
	</div>

	<div id="api" class="invisible">
		<p>
			Utiliza la API para conectar tus programas con el acortador de enlaces.
		</p>

		<h3>Solicitud:</h3>

		<samp>
			https://sl.ugr.es/api?url=&lt;url&gt;&amp;handle=&lt;handle&gt;
		</samp>
		<br>

		<ul>
			<li>
				<b><tt>url</tt>:</b>
				El enlace que deseas acortar.
			</li>
			<li>
				<b><tt>handle</tt>:</b>
				Cadena opcional con el nombre corto que quieres usar en el enlace.
			</li>
		</ul>

		<h3>Respuesta:</h3>

		<samp>{</samp><br>
			<samp>&emsp;&emsp;"url": "sl.ugr.es/*"|"",<br></samp>
			<samp>&emsp;&emsp;"success": true|false,<br></samp>
			<samp>&emsp;&emsp;"errormsg": ""|"Error description"<br></samp>
		<samp>}</samp>

		<ul>
			<li>
				<b><tt>url:</tt></b>
				La url corta creada o la cadena vacía en caso de error.
			</li>
			<li>
				<b><tt>success:</tt></b>
				<tt>true</tt> en caso de éxito, <tt>false</tt> en caso de error.
			</li>
			<li>
				<b><tt>errormsg:</tt></b>
				La cadena vacía en caso de éxito o una descripción del error.
			</li>
		</ul>
	</div>
{% endblock %}
